<a
  class="card mb-3 recipe-card"
  href="#"
>
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Test Recipe</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
          voluptate ipsa voluptates nisi minus quas sint qui beatae mollitia
          suscipit.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <img
        src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg?quality=90&resize=556,505"
        class="img-fluid"
        alt="Recipe Image"
        style="object-fit: cover; height: 100%"
      />
    </div>
  </div>
</a>
