<a 
 class="card mb-3 recipe-card"
 href="#"
 (click)="onSelected()"
 >
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ recipe.name }}</h5>
        <p class="card-text">
          {{ recipe.desc }}
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <img
        src="{{ recipe.img }}"
        class="img-fluid"
        alt="Recipe Image"
        style="object-fit: cover; height: 100%"
      />
    </div>
  </div>
</a>
